
@model MiPrimeraAppNetCore.Clases.PaginaCLS

@{
    ViewData["Title"] = "Agregar";
}


<h1>Agregar nueva Pagina</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Guardar" asp-controller="Pagina" id="frmEnviar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="iidPagina" class="control-label"></label>
                <input asp-for="iidPagina" class="form-control" readonly />
                <span asp-validation-for="iidPagina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensaje" class="control-label"></label>
                <input asp-for="mensaje" class="form-control" />
                <span asp-validation-for="mensaje" class="text-danger"></span>
                @if (Model != null && Model.mensajeError != "")
                {
                    <p class="text-danger">@Model.mensajeError</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="accion" class="control-label"></label>
                <input asp-for="accion" class="form-control" />
                <span asp-validation-for="accion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="controlador" class="control-label"></label>
                <input asp-for="controlador" class="form-control" />
                <span asp-validation-for="controlador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Guardar" class="btn btn-primary" onclick="Abrir()" />
                <a asp-action="Index" class="btn btn-outline-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>


<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    function Abrir() {
        mostrarModal().then(res => {
            if (res.value) {
                var frmEnviar = document.getElementById("frmEnviar");
                frmEnviar.submit();
            }
        })
    }
</script>



