@using MiPrimeraAppNetCore.Clases;
@model MedicamentoCLS
@{
    ViewData["Title"] = "Agregar";
    List<SelectListItem> lista = ViewBag.listaFormaFarmaceutica;
}

<h1>Formulario Agregar Medicamento</h1>
<hr />


<div class="row">

    <div class="col-md-6">

        <form asp-action="Agregar" asp-controller="Medicamento">

            <div>
                <label asp-for="nombre"></label>
                <input type="text" class="form form-control" asp-for="nombre" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="concentracion"></label>
                <input type="text" class="form form-control" asp-for="concentracion" />
                <span asp-validation-for="concentracion" class="text-danger"></span>
            </div>


            <div>
                <label asp-for="iidFormaFarmaceutica"></label>
                <select asp-for="iidFormaFarmaceutica" class="form form-control"
                        asp-items="@lista"></select>
                <span asp-validation-for="iidFormaFarmaceutica" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Enviar" class="form form-control" />
            </div>

        </form>

    </div>

</div>

